.reset {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.visuallyHidden {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  appearance: none;
  white-space: nowrap;
  word-wrap: normal;
}
